.FightCard {
  line-height: 26px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #FFF;
  border-bottom: 1px solid gray;
}

.FightCard-images {
  display: flex;
  justify-content: space-between;
}

.FightCard-ppv {
  background-color: red;
  color: #FFF;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
}
