.BarCard {
  line-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #FFF;
  border-bottom: 1px solid gray;
  display: flex;
  font-size: 0.8em;
}

.BarCard-name {
  font-weight: bold;
}

.BarCard-info {
  flex: 1;
  padding-left: 10px;
}

.BarCard-distance {
  color: gray;
}

.BarCard-cover {
  align-self: flex-end;
}
