.c-bar-card {
  line-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #FFF;
  border-bottom: 1px solid gray;
  display: flex;
  font-size: 0.8em;
}

.c-bar-card__info {
  flex: 1;
  padding-left: 10px;
}

.c-bar-card__name {
  font-weight: bold;
}


.c-bar-card__distance {
  color: gray;
}

.c-bar-card__cover {
  align-self: flex-end;
}
